body
    {
        background-color: rgb(154, 231, 154);
        margin: 100px;   
    }

h1
    {
        text-align: center;
        font-size: 60px;
        color: red;
    }

p
    {
        font-size: 30px;
        color:blue;
    }